@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/* Seletor CSS */
body {
  font-family: 'Ropa Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  color: #777777;
  width: 728px;
}

body > header {
  padding: 8px 44px;
  font-size: 18px;
  line-height: 20px;
  box-shadow: 1px 1px 10px gray;
}

header > * {
  display: inline-block;
  margin: 0;
}

body > header > img {
  float: right;
  margin-top: 16px;
}

#banner {
  margin: 10px 44px;
}

#sales {
  margin: 10px 44px;
}

#sales > article {
  display: inline-block;
  width: 40%;
}

#sales > article#right-sale {
  float: right;
}

#sales > article > footer {
  padding: 12px;
  background-color: #EEEEEE;
}

#sales span {
  font-size: 25px;
  line-height: 27px;
}

.right {
  border-radius: 10.5px;
  background-color: blue;
  float: right;
}

/* Seletores por classe */
/* .styles {
  opacity: 0.5;
} */

/* Seletores por ID */
/* #primeira {
  opacity: 1;
} */

/* Seletores por descendência */
/* #your-style img {
  opacity: 0.5;
} */

/* Seletores por child (filhos) */
/* #your-style > img {
  opacity: 0.2;
} */