<%- include('partials/header') %> 

    <main>
      <section class="servicos-lista">
        <h1>Carrinho</h1>
        <div class="container-carrinho">
      
        </div>
      </section>
    </main>

<%- include("partials/footer") %>