<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Biblioteca</title>
</head>
<body>
  <header>
    <h1>Biblioteca</h1>
    <nav>
      <ul>
        <li>
          <a href="/biblioteca/form">Adicionar</a>
        </li>
      </ul>
    </nav>
  </header>