body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  font-family: 'Open Sans', sans-serif;
}

body * {
  box-sizing: border-box;
}

body > header {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-height: 100px;
  flex-shrink: 1;
  box-shadow: 0 1px 8px -4px black;
  margin-top: 1rem;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 10;
}

body > header img {
  width: 7rem;
}

body > header nav {
  display: flex;
  align-items: center;
}

body > header nav ul {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

body > header nav a {
  text-decoration: none;
  color: #777777;
  display: block;
  padding: 1rem;
  font-size: .7rem;
  font-weight: bold;
}

body > main {
  color: #575757;
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

main > section {
  padding: 4rem;
}

main > section h1 {
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
}

main > section form {
  gap: .3rem;
  color: #777777;
  font-size: .9rem;
}

main > section form .checkboxes {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  font-size: .8rem;
  font-weight: 600;
}

input:not([type="file"]), textarea, select {
  border: .1rem solid #777;
  resize: none;
}

input:not([type="file"], [type="radio"], [type="checkbox"]):focus,
select:focus, textarea:focus
{
  outline: none;
  box-shadow: 0 0 .2rem #c2175b;
}

button:hover {
  filter: brightness(130%);
}

button[type="reset"] {
  border: none;
  font-weight: 600;
  padding: .3rem;
  background-color: #777777;
  color: white;
  transition: .5s;
}


button[type="submit"] {
  border: none;
  font-weight: 600;
  padding: .3rem;
  background-color: #c2175b;
  color: white;
  transition: .5s;
}

main > aside {
  font-size: 0.9rem;
  text-align: justify;
  padding: 0 4rem 4rem 4rem;
}

main > aside img {
  display: none;
}

main > a img {
  display: block;
  width: 5.5rem;
  position: fixed;
  left:rem;
  right: 1rem;
  top: rem;
  bottom: 1rem;
  z-index: 30;
  transition: .5s;
}

main > a img:hover {
  transform: translateY(-2rem) scale(1.5);
}

body > footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #c2175b;
  color: white;
}

body > footer ul {
  list-style: none;
}

body > footer span, ul {
  font-size: .8rem;
}

body > footer .column img {
  max-width: 12rem;
}

.column {
  display: flex;
  flex-flow: column;
}

.column.disclaimer {
  max-width: 10rem !important;
}

.column.disclaimer span {
  margin-top: -1rem;
}

.column.sm {
  width: 100%;
  align-self: auto;
  max-width: 80%;
}

@media (min-width: 768px) {
  .column.sm {
    justify-content: start;
    width: auto;
    min-width: 15%;
    align-self: auto;
  }
  
  body > header {
    justify-content: space-around;
  }

  body > header nav a {
    font-size: 1rem;
  }

  body > footer {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  main > aside {
    padding: 4rem;
    max-width: 35rem;
    max-height: 43rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: .5rem solid #c2175b;
    position: relative;
    right: 0rem;
    left: 0rem;
    bottom: 0rem;
    top: 0rem;
  }

  @keyframes rotate {
    0% {transform: rotate(0deg); filter: blur(2rem);}
    50% {filter: brightness(150%); filter: blur(0rem);}
    100% {transform: rotate(360deg) translateX(5rem); }    
  }

  main > aside img {
    /* animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse; 
    animation-fill-mode: normal*/
    animation: rotate 1s linear 2s infinite normal none;
    filter: blur(0rem);
    display: block;
    width: 6rem;
    position: absolute;
    left: -4rem;
    top: -4rem;
  }
}